<%= form_for(@ciudade) do |f| %>
  <% if @ciudade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ciudade.errors.count, "error") %> prohibited this ciudade from being saved:</h2>

      <ul>
      <% @ciudade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
