
<head>
<link rel="stylesheet" type="text/css" href="/assets/css/font.css">

<link rel="stylesheet" type="text/css" href="/assets/css/jquery.mmenu.all.css">
<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
<link rel="stylesheet" type="text/css" href="/assets/css/materials.css">


<script type="text/javascript" src="/assets/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="/assets/js/controls.js"></script>

</head>

<body>
<div id="overlay"></div>
<div class="header "><a href="#menu"></a><span class="main_title">MameAirlines</span></div>
<nav id="menu">
   <ul>
    <%= render 'card' %>
   </ul>
</nav>

    <div id="page" >
      
      <div class="content">
      
    </div>
    
  
</body>