
  <ul id="avionsss">
     <% @aviones.each do |avione| %>
      <li>
        <%= image_tag("/assets/aviones/" + avione.modelo + ".jpg") -%>
        <div class="info_avion">
          <strong>marca: </strong><span><%= avione.marca %> </span><br/>        
          <strong>modelo: </strong><span><%= avione.modelo %> </span><br/> 
          <strong>capacidad: </strong><span><%= avione.capacidadprimera + avione.capacidadturista %> </span><br/> 

        </div>
      </li>
    <% end %>
</ul>


