<h1>Listing viajes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @viajes.each do |viaje| %>
      <tr>
        <td><%= link_to 'Show', viaje %></td>
        <td><%= link_to 'Edit', edit_viaje_path(viaje) %></td>
        <td><%= link_to 'Destroy', viaje, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Viaje', new_viaje_path %>
