<%= form_for(@nosotros_avione) do |f| %>
  <% if @nosotros_avione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nosotros_avione.errors.count, "error") %> prohibited this nosotros_avione from being saved:</h2>

      <ul>
      <% @nosotros_avione.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
