<html>

<head>
    <title>MameAirlines</title>
    <script type="text/javascript" src="/assets/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/controls.js"></script>
    <script type="text/javascript" src="/assets/js/calendar.js"></script>
    <script type="text/javascript" src="/assets/js/flys.js"></script>
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/new.css">
    <link type="text/css" rel="stylesheet" media="screen and (max-width: 1024px)" href="/assets/css/new.mini.css">
    <link rel="stylesheet" href="/assets/css/font.css">
    <link rel="stylesheet" href="/assets/css/calendar.css">
</head>

<body>
    <header class="fly">
       <a href="/"> <div class="upper" style="
    background-image: url(/assets/images/logo.png);
"></div></a>
        
        <div class="search-bar-container">
            <div id="search-bar">
            <i class="search-icon"></i>
            <input type="text" id="query" placeholder="Busca vuelos, destinos, promociones">
            </div>
            <div class="suggestions" id="s-main">
                
            </div>
         </div> 
         <div class="controls right">
            <ul id="controls">
           
                <li><a class="p-10 user-icon" href="#">
                 <% if (session[:current_user_id] != nil) %>
                            <% @usuario = Usuario.find(session[:current_user_id]) %>
                            <%= image_tag @usuario.avatar.url(:small) %>
                    <% end %>
                </a></li>
                <li><a class="p-20" href="/logins">
                    <i class="icon-login">
                    <% if @usuario %>
                        <%= @usuario.nombres %> 
                    <% else %>
                        <%= "Ingresar" %>
                     <% end %>
                    </i>
                </a></li>
                <li><a class="p-20" href="/usuarios/registro">
                    <i class="icon-reg">Registrar</i>
                </a></li>
            </ul>
         </div>
    </header>

    <nav class="euro">
        <div class="left link-co">
            <ul id="links" class="links">
                <li><a class="active" href="#">
                <i class="icon-fly">Vuelos</i>
                </a></li>
                <li><a href="/ciudades">
                <i class="icon-dest">Destinos</i>
                </a></li>
                <li><a href="/promociones">
                    <i class="icon-prom">Promociones</i>
                </a></li>
                <li><a href="/nosotros/aviones">
                    <i class="icon-us">Nosotros</i>
                </a></li>
            </ul>
        </div>
        <div class="right link-coco">
            <ul class="commans">
                <li><a href="/viajes/llegadas/u/0"><i class="icon">Llegadas</i></a></li>
                <li><a href="#"><i class="icon">Salidas Prox</i> </a></li>
                <li><a href="/nosotros/"><i class="icon">Info</i> </a></li>
            </ul>
        </div>
    </nav>

    <section id="main" >
        <div id="gallery">
            <%= yield %>
        </div>
        <div id="actions" class="right">
            <div id="galley-details" class="action">Load async</div>

            <div id="context" class=" action visible">
                <div class="logo-head">
                    <h2>Bienvenido a</h2>
                    <i class="logo-beautty"></i>
                    <strong id="ll" class="logo">MameAirlines</strong>
                </div>

                <div id="spider-fly">
                    <div id="ll4" ><h2 >Busca un vuelo</h2></div>
                    <div class="origin-destiny">
                        <div class="input">
                        <i class="logo2">Desde:</i>
                            <input id="origin-query" type="text" placeholder="Ciudad Origen" class="suggested"/>
                            <div class="suggestions" id="origin-suggestions"></div>
                        </div>

                        <div class="input">
                        <i class="logo2">Hacia:</i>
                            <input id="destiny-query" placeholder="Ciudad Destino" type="text" class="suggested"/>
                            <div id="destiny-suggestions" class="suggestions"></div>
                        </div>
                    </div>
                    <div id="fly-details">
                        <div class="dates">
                            <div class="row-date">
                                <div id="calendar-departure-date" class="departure-date">
                                    <h5 class="subtitle">Salida</h5>
                                    <div class="date">
                                        <div class="row-3">
                                            <div id="dep-day" class="big left">1</div>
                                            <div  id="dep-month" class="little right">May</div>
                                            <div id="dep-year" class="little right">2014</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row-date">
                                <div id="calendar-land-date" class="departure-date">
                                    <h5 class="subtitle">Regreso</h5>
                                    <a href="#" id="close-date">X</a>
                                    <div class="date deactived">
                                        <div class="row-3">
                                            <div id="land-day" class="big left">1</div>
                                            <div  id="land-month" class="little right">May</div>
                                            <div id="land-year" class="little right">2014</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <div class="persons">
                        <div class="person-row">
                            <div class="persons">
                                <h5 class="subtitle">Pasajeros</h5>
                                <div class="row-2">
                                    <div class="big left">
                                    <i id="passenger-count">1</i>
                                        <a href="#"id="control-up">+</a>
                                        <a href="#"id="control-down">-</a>
                                    </div>
                                   
                                </div>
                                <div class="class-selector">
                        <select name="class" id="class-select">
                            <option value="turista">Turista</option>
                            <option value="primera">Primera</option>
                        </select>
                    </div>
                            </div>
                        </div>

                        
                    
                    </div>

                    

                    <div class="plane-controls">
                        <button id="reset-plane">
                            <i class="reset-icon"></i>
                            Limpiar
                        </button>
                        <button id="search">
                            <i class="search-icon"></i>
                            Buscar
                        </button>
                    </div>
                </div>

                </div>

            </div>
            
            <div id="chosser" class="action ">
                
            </div>
        </div>
        <div id="flys">
            <div class="week">
                <div id="back-2-search">Volver al calendario</div>
             </div>
            <div id="flyss"></div>

        </div>
    </section>

</body>

</html>