<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.css">
  </head>
  <body class="body-login">
    
    <div class="navbar navbar-default1">
      <div class="container-fluid">
        <div class="navbar-header">
          <img class="glyphicon navbar-logo" src="/static/glyphicon/logo.png">
          <p class="navbar-title">MameAirlines</p>
        </div>
        <p class="navbar-text">Esta sesion es usada por un administrador</p>
      </div>
    </div>

    <div class="navbar col-md-13">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="index"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Inicio</a></li>
        <li><a href="valores">Actualizar Valores</a></li>
        <li><a href="vuelos">Vuelos</a></li>
        <li><a href="creaviaje">Crear Vuelos</a></li>
        <li><a href="cancelaviaje">Cancelar Vuelos</a></li>
        <li class="active"><a href="aviones">Aviones</a></li>
        <li><a href="">Promociones</a></li>
        <li><a href="">Ciudades</a></li>
        <li><a href="">Usuarios</a></li>
        <li><a href="salir">Salir</a></li>
      </ul>
    </div>
    
    <div class="container">
      <div>
        <select id="idavion" name="idavion" >
          {% for avion in aviones %}
          <option value="{{ avion.idavion }}">{{ avion.modelo + ", "+ avion.marca }}</option>
          {% endfor %}
        </select>
      </div>

      <div {{ val }} id="valores" class="col-md-offset-3 col-sm-13 table-valor">
        <form {{ val }} text-align="left" role="form" class="form-inline" name="valors" action="">
          <table {{ cancelar }} class="table table-trans table-hover">
            <tr>
              <th>Id Avion</th>
              <th>Modelo</th>
              <th>Marca</th>
              <th>Capacidad Primera</th>
              <th>Capacidad Turista</th>
              <th>Disponible</th>
              <th>Millas Recorridas</th>
            </tr>
            <tr>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
