<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.css">
    <script type="text/javascript">
      function myfun(){
        var s = document.getElementById("mys");
        alert(s.options[s.selectedIndex].id);
      }
    </script>
  </head>
  <body class="body-login" onload="nada()">
    <div class="navbar navbar-default1">
      <div class="container-fluid">
        <div class="navbar-header">
          <img class="glyphicon navbar-logo" src="/static/glyphicon/logo.png">
          <p class="navbar-title">MameAirlines</p>
        </div>
        <p class="navbar-text">Esta sesion es usada por un administrador</p>
      </div>
    </div>
    <div class="navbar col-md-13">
      <ul class="nav nav-pills nav-stacked">
        <li class="active "><a href="index"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ admin }}</a></li>
        <li><a href="">Actualizar Valores</a></li>
        <li><a href="creaviaje">Crear Viajes</a></li>
        <li><a href="cancelaviaje">Cancelar Viajes</a></li>
        <li><a href="aviones">Aviones</a></li>
        <li><a href="">Promociones</a></li>
        <li><a href="">Ciudades</a></li>
        <li><a href="">Usuarios</a></li>
        <li><a href="salir">Salir</a></li>
      </ul>
    </div>
    
    <div class="container">
      <div id="eljson" class="col-md-offset-2 table-trans">
        <select id="mys" onchange="myfun()">

          {% for algo in todos %}
            <option id=" {{ algo[2] }} " value="{{ algo[1] }}">{{ algo[3] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </body>
</html>
