<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.css">

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawCharts);
      function drawCharts() {

        var pieinfo = [];
        var oriinfo = [];
        var desinfo = [];
        var columninfo = [];
        
        var tipos = document.getElementById("pievals");
        var cant = document.getElementById("columnvals");
        var origens = document.getElementById("pieorigen");
        var destins = document.getElementById("piedestino");

        var i;
        var j;

        pieinfo.push(['Estado', 'Cantidad']);
        oriinfo.push(['Ciudad', 'Cantidad']);
        desinfo.push(['Ciudad', 'Cantidad']);
        columninfo.push(['Ciudad', 'Cantidad']);

        
        pieinfo.push(["Realizados", parseInt(tipos.options[0].value)]);
        pieinfo.push(["Cancelados", parseInt(tipos.options[1].value)]);
        pieinfo.push(["Proximos", parseInt(tipos.options[2].value)]);
        
        for(j = 0; j < cant.length; j++){
          columninfo.push([cant.options[j].text, parseInt(cant.options[j].value)]);
        }
        for(i = 0; i < origens.length; i++){
          oriinfo.push([origens.options[i].text, parseInt(origens.options[i].value)]);
        }
        for(j = 0; j < destins.length; j++){
          desinfo.push([destins.options[j].text, parseInt(destins.options[j].value)]);
        }

        var piedata = google.visualization.arrayToDataTable(pieinfo);
        var oridata = google.visualization.arrayToDataTable(oriinfo);
        var desdata = google.visualization.arrayToDataTable(desinfo);
        var columndata = google.visualization.arrayToDataTable(columninfo);

        var pieoptions = {
          title: 'Estado de los viajes',
          is3D: true,
          width:'700px',
          height:'500px'
        };
        var orioptions = {
          title: 'Porcentaje de vuelos procedentes de',
          is3D: true,
          width:'100%',
          height:'100%'
        };
        var desoptions = {
          title: 'Porcentaje de vuelos con destino a',
          is3D: true,
          width:'100%',
          height:'100%'
        };
        var columnoptions = {
          title: 'CAntidad de vuelos con destino a:',
          hAxis: {title: 'Ciudad', titleTextStyle: {color: 'red'}}
        };

        var piechart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        var orichart = new google.visualization.PieChart(document.getElementById('orichart_3d'));
        var deschart = new google.visualization.PieChart(document.getElementById('deschart_3d'));
        var columnchart = new google.visualization.ColumnChart(document.getElementById('columnchart_div'));

        piechart.draw(piedata, pieoptions);
        orichart.draw(oridata, orioptions);
        deschart.draw(desdata, desoptions);
        columnchart.draw(columndata, columnoptions);
      }
    </script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawValues)
      function drawValues() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'Line');
        data.addColumn('number', 'Under 13');
        data.addColumn('number', 'Over 13');
        data.addRow(['0',  0, 0, null]);
        var info = document.getElementById("linevals");
        var i;
        for (i = 0; i < info.length; i++){
          data.addRow([info.options[i].text, info.options[i].value*100, info.options[i].value*100, null]);
        }
        var options = {
          title: 'Line Chart',
          pointSize : 5,
          series: [{color: 'black', pointSize: 0}, {color: 'red', lineWidth: 0}, {color: 'blue', lineWidth: 0}]
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
      function validar(){
        var v = document.getElementById("costo").value;
        if(v > 0 && v < 100){
          return true;
        }
        else{
          alert("El valor debe ser mayor a 0 y menor a 100");
          return false;
        }
      }
    </script>
  </head>
  <body class="body-login">
    <div class="navbar navbar-default1">
      <div class="container-fluid">
        <div class="navbar-header">
          <img class="glyphicon navbar-logo" src="/static/glyphicon/logo.png">
          <p class="navbar-title">MameAirlines</p>
        </div>
        <p class="navbar-text">Esta sesion es usada por un administrador</p>
      </div>
    </div>
    <div class="navbar col-md-13">
      <ul class="nav nav-pills nav-stacked">
        <li class="{{ adm }}"><a href="index"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ admin }}</a></li>
        <li class="{{ valo }}"><a href="valores">Actualizar Valores</a></li>
        <li><a href="vuelos">Vuelos</a></li>
        <li><a href="creaviaje">Crear Vuelos</a></li>
        <li><a href="cancelaviaje">Cancelar Vuelos</a></li>
        <li><a href="aviones">Aviones</a></li>
        <li><a href="">Promociones</a></li>
        <li><a href="">Ciudades</a></li>
        <li><a href="">Usuarios</a></li>
        <li><a href="salir">Salir</a></li>
      </ul>
    </div>
    
    <div class="container">
      <div hidden>
        <select id="pievals">
          {% for res in evuelos %}
          <option value="{{res[1]}}">{{res[0]}}</option>
          {% endfor %}
        </select>
        <select id="columnvals">
          {% for res in cvuelos %}
          <option value="{{res[1]}}">{{res[0]}}</option>
          {% endfor %}
        </select>
        <select id="pieorigen">
          {% for origen in origenes %}
          <option value="{{ origen[1] }}">{{ origen[0] }}</option>
          {% endfor %}
        </select>
        <select id="piedestino">
          {% for destino in destinos %}
          <option value="{{ destino[1] }}">{{ destino[0] }}</option>
          {% endfor %}
        </select>
      </div>
      <div {{ graf }} id="graficas" class="graphs">
        <div {{ graf }} id="piechart_3d" class="graficapie" alt="First slide"></div>
        <div {{ graf }} id="orichart_3d" class="graficapie" alt="Fourth slide"></div>
        <div {{ graf }} id="deschart_3d" class="graficapie" alt="Second slide"></div>
        <div {{ graf }} class="graficacolumn">
          <div {{ graf }} id="columnchart_div" class="grafica2" style="width:{{ tam * 65 }}px; height: 100%;"></div>
        </div>
      </div>


      <div {{ val }} id="valores" class="col-md-offset-3 col-sm-13 table-valor">
        <div {{ val }} class="alert alert-info" role="alert">El nuevo valor sera aplicado a lo vuelos creados posteriormente a este cambio</div>
        <div {{ msg }} class="alert alert-{{tipo}} " role="alert"> {{ mensaje }} </div>
        <form {{ val }} text-align="left" role="form" class="form-inline" name="valors" action="/cambiavalor" onsubmit="return validar()">
          <div {{ val }} class="form-group">
            <label>Costo Milla</label>
            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
            <div class="input-group">
              <div class="input-group-addon" cols>$ 0.</div>
              <input class="form-control" name="costomilla" id="costo"></input>
              <div class="input-group-addon" cols>USD</div>
            </div>
          </div >

          <div {{ val }} class="form-group">
            <button type="submit" class="btn btn-primary">Cambiar Valor</button>
          </div>
        </form>
      </div>
      <div hidden>
        <select id="linevals">
          {% for val in valors %}
          <option value="{{ val[1] }}">{{ val[2] }}</option>
          {% endfor %}
        </select>
      </div>
      <div {{ val }} id="historial" class="table-valores">
        <div {{ Val }} id="chart_div" style="width: auto; height: 300px;"></div>
        <table {{ val }} class="table table-hover">
          <tr>
            <th>Id Valor</th>
            <th>Costo Milla</th>
            <th>Fecha de Cambio</th>
            <th>Moneda</th>
            <th>Medida</th>
          </tr>
          <tr>
          {% for valor in valores %}
          <tr>
            <td> {{ valor[0] }} </td>
            <td> {{ valor[1] }} </td>
            <td> {{ valor[2] }} </td>
            <td> {{ valor[3] }} </td>
            <td> {{ valor[4] }} </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
