<!DOCTYPE html>
<html >
  <head lang="es">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.css">

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry"></script>
    <script src="static/js/viajes.js"></script>
  </head>

  <body onload="mes()" class="body-indice">

  	<div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="...">
          </a>
          <p class="navbar-title">MameAirlines</p>
        </div>
        <p class="navbar-text">Esta sesion es usada por un administrador</p>
      </div>
    </div>
    <div class="navbar col-md-13">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="index"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Inicio</a></li>
        <li><a href="">Actualizar Valores</a></li>
        <li class="active"><a href="creaviaje">Crear Viajes</a></li>
        <li><a href="cancelaviaje">Cancelar Viajes</a></li>
        <li><a href="aviones">Aviones</a></li>
        <li><a href="">Promociones</a></li>
        <li><a href="">Ciudades</a></li>
        <li><a href="">Usuarios</a></li>
        <li><a href="salir">Salir</a></li>
      </ul>
    </div>

    <div class="container">
   
      <div class="col-md-5 col-md-offset-2 form-viaje">
		<h1 class="text-center login-title">Crea Viaje</h1>

		<div {{ visibilidad }} class="alert alert-{{ tipo }}" role="alert">{{ mensage }}</div>

		<form text-align="right" role="form" class="form-horizontal" name="navion" action="/viajecreado" onsubmit="return crear()">

	  		<div class="form-group">
	    		<label class="col-sm-2 control-label">Origen:</label>
	    		<div class="col-sm-9">
		      		<select class="form-control" id="origen" name="origen" onchange="quita()">
						<option value="nada">--Selecciona</option>
						{% for ciudad in ciudades %}
						<option value="{{ ciudad.nombre }}">{{ ciudad.nombre }}</option>
						{% endfor %}
	      			</select>
	    		</div>
	  		</div>
	  
	  		<div class="form-group">
	    		<label class="col-sm-2 control-label">Destino:</label>
	    		<div class="col-sm-9">
	      			<select class="form-control" id="destino" name="destino" onchange="initialize()">
	      			</select>
	    		</div>
	  		</div>

	  		<div class="form-group">
	    		<label class="col-sm-2 control-label">Fecha:</label>
	    		<div class="col-sm-3 col-sm-offset-0">
	      			<select type="date" class="form-control" id="anio" name="anio">
						<option value="2015" selected="selected">2015</option>
						<option value="2016">2016</option>
	      			</select>
	    		</div>
	    		<div class="col-sm-3 col-sm-offset-0">
	      			<select class="form-control" id="mes" name="mes" onchange="dias()"></select>
	    		</div>
	    		<div class="col-sm-3 col-sm-offset-0">
	      			<select class="form-control" id="dia" name="dia"></select>
	    		</div>
	  		</div>
	  
	  		<div class="form-group">
	    		<label class="col-sm-2 control-label">Hora Salida:</label>
	    		<div class="col-sm-3">
	      			<select class="form-control" id="hora" name="hora"></select>
	    		</div>
	    		<div class="col-sm-3">
	      			<select class="form-control" id="minuto" name="minuto">
						<option value="00">00</option>
	      			</select>
	    		</div>
	  		</div>
	  
	  
	  		<div class="form-group">
	    		<label class="col-sm-2 control-label"> Distancia:</label>
	    		<div class="col-sm-9 col-md-offset-0">
	      			<input class="form-control" id="distancia" name="distancia" type="text" readonly>
	    		</div>
	  		</div>
				  
	  		<div class="form-group">
	    		<label class="col-sm-2 control-label">Avion:</label>
	    		<div class="col-sm-9 col-md-offset-0">
	      			<select class="form-control" id="idavion" name="idavion" >
						{% for avion in aviones %}
						<option value="{{ avion.idavion }}">{{ avion.modelo +", "+ avion.marca +", " }}{{ avion.capacidadprimera + avion.capacidadturista }}</option>
						{% endfor %}
	      			</select>
	    		</div>
	  		</div>
	  
	  		<div class="form-group">
	      		<button type="submit" class="boton-viaje">Crear</button>
	  		</div>
		</form>
   	  </div>
      <div hidden id="googleMap" style="width:500px;height:380px;"></div>
    </div>
  </body>
</html>
