<!DOCTYPE html>
<html >
  <head lang="es">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry"></script>
    <script src="static/js/viajes.js">
    </script>
  </head>
  <body>
    <form name="navion" action="/viajecreado" onsubmit="return crear()">
      Origen:
      <select id="origen" name="origen" onchange="quita()">
	<option value="nada">--Selecciona</option>
	{% for ciudad in ciudades %}
	<option value="{{ ciudad.nombre }}">{{ ciudad.nombre }}</option>
	{% endfor %}
      </select> </br>
      Destino:
      <select id="destino" name="destino" onchange="initialize()">
      </select></br>
      Fecha:
      <select id="anio" name="anio">
        <option value="2014">2014</option>
	<option value="2015">2015</option>
      </select>
      <select id="mes" name="mes"></select>
      <select id="dia" name="dia"></select></br>
      Hora Salida:
      <select id="hora" name="hora"></select>
      <select id="minuto" name="minuto"></select></br>
      Distancia:
      <input id="distancia" name="distancia" type="text"/></br>
      Avion:
      <select id="idavion" name="idavion" >
	{% for avion in aviones %}
	<option value="{{ avion.id }}">{{ avion.modelo + ", "+ avion.marca }}</option>
	{% endfor %}
      </select>
      <button type="submit">Crear</button>
    </form>
    <a href="index">Regresar</a>
    <div hidden id="googleMap" style="width:500px;height:380px;"></div>
  </body>
</html>
