<!DOCTYPE html>
<html >
  <head lang="es">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.css">

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry"></script>
    <script src="static/js/viajes.js"></script>
  </head>

  <body class="body-login" onload="mes()">

  	<div class="navbar navbar-default1">
      <div class="container-fluid">
        <div class="navbar-header">
          <img class="glyphicon navbar-logo" src="/static/glyphicon/logo.png">
          <p class="navbar-title">MameAirlines</p>
        </div>
        <p class="navbar-text">Esta sesion es usada por un administrador</p>
      </div>
    </div>

    <div class="navbar col-md-13">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="index"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Inicio</a></li>
        <li><a href="">Actualizar Valores</a></li>
        <li class="{{ crea }}"><a href="creaviaje">Crear Viajes</a></li>
        <li class="{{ cancela }}"><a href="cancelaviaje">Cancelar Viajes</a></li>
        <li><a href="aviones">Aviones</a></li>
        <li><a href="">Promociones</a></li>
        <li><a href="">Ciudades</a></li>
        <li><a href="">Usuarios</a></li>
        <li><a href="salir">Salir</a></li>
      </ul>
    </div>

    <div class="container">
   
      <div {{ crear }}class="col-md-5 col-md-offset-2 form-viaje">
		<h1 {{ crear }} class="text-center login-title">Crea Viaje</h1>

		<div {{ visibilidad }} class="alert alert-{{ tipo }}" role="alert">{{ mensage }}</div>

		<form {{ crear }} text-align="right" role="form" class="form-horizontal" name="navion" action="/viajecreado" onsubmit="return crear()">

	  		<div {{ crear }} class="form-group">
	    		<label class="col-sm-2 control-label">Origen:</label>
	    		<div {{ crear }} class="col-sm-9">
		      		<select class="form-control" id="origen" name="origen" onchange="quita()">
						<option value="nada">--Selecciona</option>
						{% for ciudad in ciudades %}
						<option value="{{ ciudad.nombre }}">{{ ciudad.nombre }}</option>
						{% endfor %}
	      			</select>
	    		</div>
	  		</div>
	  
	  		<div {{ crear }} class="form-group">
	    		<label class="col-sm-2 control-label">Destino:</label>
	    		<div class="col-sm-9">
	      			<select class="form-control" id="destino" name="destino" onchange="initialize()">
	      			</select>
	    		</div>
	  		</div>

	  		<div {{ crear }} class="form-group">
	    		<label class="col-sm-2 control-label">Fecha:</label>
	    		<div class="col-sm-3 col-sm-offset-0">
	      			<select type="date" class="form-control" id="anio" name="anio" onchange="otra()">
	      				<option value="2014">2014</option>
						<option value="2015" selected="selected">2015</option>
						<option value="2016">2016</option>
	      			</select>
	    		</div>
	    		<div class="col-sm-3 col-sm-offset-0">
	      			<select class="form-control" id="mes" name="mes" onchange="dias()"></select>
	    		</div>
	    		<div class="col-sm-3 col-sm-offset-0">
	      			<select class="form-control" id="dia" name="dia" onchange="otra()"></select>
	    		</div>
	  		</div>
	  
	  		<div {{ crear }} class="form-group">
	    		<label class="col-sm-2 control-label">Hora Salida:</label>
	    		<div class="col-sm-3">
	      			<select class="form-control" id="hora" name="hora" onchange="otra()"></select>
	    		</div>
	    		<div class="col-sm-3">
	      			<select class="form-control" id="minuto" name="minuto">
						<option value="00">00</option>
	      			</select>
	    		</div>
	  		</div>
	  
	  
	  		<div {{ crear }} class="form-group">
	    		<label class="col-sm-2 control-label"> Distancia:</label>
	    		<div class="col-sm-9 col-md-offset-0">
	      			<input class="form-control" id="distancia" name="distancia" type="text" readonly>
	    		</div>
	  		</div>
				  
	  		<div {{ crear }} class="form-group">
	    		<label class="col-sm-2 control-label">Avion:</label>
	    		<div class="col-sm-9 col-md-offset-0">
	    			<select class="form-control" id="aviones" name="idavion">
        			</select>
	    		</div>
	    		<div hidden>
	    			<select id="idavion">
						{% for avion in aviones %}
						<option value="{{ avion.idavion }}">{{ avion.idavion }} {{ ",  "+ avion.modelo +", "+ avion.marca +", " }} {{ avion.capacidadprimera + avion.capacidadturista }}</option>
						{% endfor %}
	      			</select>
	    			<select id="mys">
	          			{% for algo in todos %}
		            	<option id=" {{ algo[2] }} " value="{{ algo[1] }}">{{ algo[3] }}</option>
        		    	{% endfor %}
        			</select>
        		</div>
	    	</div>
	  
	  		<div {{ crear }} class="form-group">
	      		<button type="submit" class="boton-viaje">Crear</button>
	  		</div>
		</form>
   	  </div>
      <div hidden id="googleMap" style="width:500px;height:380px;"></div>


      <div {{ cancelar }} class="col-md-offset-2">
      	<form {{ cancelar }} role="form" name="cancelaviaje" action="/viajecancelado" onsubmit="return cancelar()">
      		<table {{ cancelar }} class="table table-trans table-hover">
	      		<tr>
      				<th>Id Viaje</th>
      				<th>Ciudad Origen</th>
      				<th>Ciudad Destino</th>
      				<th>Fecha y Hora de Salida</th>
      				<th>Fecha y Hora de Llegada</th>
      				<th>Costo</th>
      				<th>Cancelar</th>
      			</tr>
      			{% for viaje in viajes %}
	      			<tr>
      					<td> {{ viaje.idviaje }} </td>
      					<td> {{ viaje.origen }} </td>
	      				<td> {{ viaje.destino }} </td>
      					<td> {{ viaje.fechasalida +", "+ viaje.horasalida }} </td>
      					<td> {{ viaje.fechallegada +", "+ viaje.horallegada }} </td>
      					<td> {{ viaje.costoviaje }} {{ " " }} USD </td>
      					<td> <input type="checkbox" id="seleccionados" name="seleccionados" value="{{ viaje.idviaje }}"></input></td>
      				</tr>
      			{% endfor %}
			</table>
			<div {{ cancelar }} class="form-group">
	      		<button type="submit" class="boton-viaje">Cancelar</button>
	  		</div>
		</form>
      </div>
    </div>
  </body>
</html>
