<!DOCTYPE html>
<html >
  <head lang="es">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>

  <body class="body-login">

  	<div class="navbar navbar-default1">
      <div class="container-fluid">
        <div class="navbar-header">
          <img class="glyphicon navbar-logo" src="/static/glyphicon/logo.png">
          <p class="navbar-title">MameAirlines</p>
        </div>
        <p class="navbar-text">Esta sesion es usada por un administrador</p>
      </div>
    </div>

    <div class="navbar col-md-13">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="index"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Inicio</a></li>
        <li><a href="valores">Actualizar Valores</a></li>
        <li class="active"><a href="">Vuelos</a></li>
        <li><a href="creaviaje">Crear Vuelos</a></li>
        <li><a href="cancelaviaje">Cancelar Vuelos</a></li>
        <li><a href="aviones">Aviones</a></li>
        <li><a href="">Promociones</a></li>
        <li><a href="">Ciudades</a></li>
        <li><a href="">Usuarios</a></li>
        <li><a href="salir">Salir</a></li>
      </ul>
    </div>

    <div class="container">
      <div class="row">
        <div class="content table-vuelos">
          <div class="panel-group " id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#divrealizados">Realizados</a>
                </h4>
              </div>
              <div id="divrealizados" class="panel-collapse collapse in">
                <div>
                  <table class="table table-hover">
                  <tr>
                    <th>Id Viaje</th>
                    <th>Ciudad Origen</th>
                    <th>Ciudad Destino</th>
                    <th>Fecha y Hora de Salida</th>
                    <th>Fecha y Hora de Llegada</th>
                    <th>Costo</th>
                    <th>Tipo</th>
                    <th>Id Avion</th>
                  </tr>
                  {% for realizado in realizados %}
                  <tr>
                    <td> {{ realizado.idviaje }} </td>
                    <td> {{ realizado.origen }} </td>
                    <td> {{ realizado.destino }} </td>
                    <td> {{ realizado.fechasalida +",  " }} {{ realizado.horasalida }} </td>
                    <td> {{ realizado.fechallegada +",  " }} {{ realizado.horallegada }} </td>
                    <td>$ {{ realizado.costoviaje }} USD</td>
                    <td> {{ realizado.realizado }} </td>
                    <td> {{ realizado.idavion }} </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                 <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#divproximos">Proximos</a>
                </h4>
              </div>
              <div id="divproximos" class="panel-collapse collapse">
                <table class="table table-hover">
                  <tr>
                    <th>Id Viaje</th>
                    <th>Ciudad Origen</th>
                    <th>Ciudad Destino</th>
                    <th>Fecha y Hora de Salida</th>
                    <th>Fecha y Hora de Llegada</th>
                    <th>Costo</th>
                    <th>Tipo</th>
                    <th>Id Avion</th>
                  </tr>
                  {% for proximo in proximos %}
                  <tr>
                    <td> {{ proximo.idviaje }} </td>
                    <td> {{ proximo.origen }} </td>
                    <td> {{ proximo.destino }} </td>
                    <td> {{ proximo.fechasalida +",  " }} {{ proximo.horasalida }} </td>
                    <td> {{ proximo.fechallegada +",  " }} {{ proximo.horallegada }} </td>
                    <td>$ {{ proximo.costoviaje }} USD </td>
                    <td> {{ proximo.realizado }} </td>
                    <td> {{ proximo.idavion }} </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#divcancelados">Cancelados</a>
                  </h4>
                </div>
                <div id="divcancelados" class="panel-collapse collapse">
                  <table class="table table-hover">
                  <tr>
                    <th>Id Viaje</th>
                    <th>Ciudad Origen</th>
                    <th>Ciudad Destino</th>
                    <th>Fecha y Hora de Salida</th>
                    <th>Fecha y Hora de Llegada</th>
                    <th>Costo</th>
                    <th>Tipo</th>
                    <th>Id Avion</th>
                  </tr>
                  {% for cancelado in cancelados %}
                  <tr>
                    <td> {{ cancelado.idviaje }} </td>
                    <td> {{ cancelado.origen }} </td>
                    <td> {{ cancelado.destino }} </td>
                    <td> {{ cancelado.fechasalida +",  " }} {{ cancelado.horasalida }} </td>
                    <td> {{ cancelado.fechallegada +",  " }} {{ cancelado.horallegada }} </td>
                    <td>$ {{ cancelado.costoviaje }} USD</td>
                    <td> {{ cancelado.realizado }} </td>
                    <td> {{ cancelado.idavion }} </td>
                  </tr>
                  {% endfor %}
                </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
