<!DOCTYPE html>
<html >
  <head lang="es">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.css">

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["calendar"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var calvals = document.getElementById("calendarvals");
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'date', id: 'Date' });
        dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
        var info = [new Date(2014, 12, 20), 0];
        var i;
        for(i = 0; i < calvals.length; i++){
          var dat = new Date(calvals.options[i].text);
          alert(dat.toString());
          info.push([new Date(calvals.options[i].text), parseInt(calvals.options[i].value)]);
        }
        dataTable.addRows(info);

        var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

        var options = {
          title: "Red Sox Attendance",
          heigth: 380
        };

        chart.draw(dataTable, options);
      }
    </script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawCharts);
      function drawCharts() {

        var pieinfo = [];
        
        var tipos = document.getElementById("pievals");

        pieinfo.push(['Estado', 'Cantidad', { role: 'style' }]);

        
        pieinfo.push(["Distancia Recorrida", parseInt(tipos.options[0].value), 'color: blue']);
        pieinfo.push(["Distancia no Recorrida (cancelados)", parseInt(tipos.options[1].value), 'color: red']);

        var piedata = google.visualization.arrayToDataTable(pieinfo);

        var pieoptions = {
          title: 'Distancias',
          vAxis: {title: '',  titleTextStyle: {color: 'red'}}
        };

        var piechart = new google.visualization.BarChart(document.getElementById('piechart_3d'));

        piechart.draw(piedata, pieoptions);
        
      }
    </script>
  </head>

  <body class="body-login">

  	<div class="navbar navbar-default1">
      <div class="container-fluid">
        <div class="navbar-header">
          <img class="glyphicon navbar-logo" src="/static/glyphicon/logo.png">
          <p class="navbar-title">MameAirlines</p>
        </div>
        <p class="navbar-text">Esta sesion es usada por un administrador</p>
      </div>
    </div>

    <div class="navbar col-md-13">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="index"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Inicio</a></li>
        <li><a href="valores">Actualizar Valores</a></li>
        <li class="active"><a href="">Vuelos</a></li>
        <li><a href="creaviaje">Crear Vuelos</a></li>
        <li><a href="cancelaviaje">Cancelar Vuelos</a></li>
        <li><a href="aviones">Aviones</a></li>
        <li><a href="">Promociones</a></li>
        <li><a href="">Ciudades</a></li>
        <li><a href="">Usuarios</a></li>
        <li><a href="salir">Salir</a></li>
      </ul>
    </div>

    <div class="container">
      <div >
        <select id="pievals">
          {% for dist in disvuelos %}
          <option value="{{dist[1]}}"> {{dist[0]}} {{dist[1]}} </option>
          {% endfor %}
        </select>
        <select id="calendarvals">
          {% for fecha in fechas %}
          <option value="{{fecha[1]}}"> {{fecha[0]}} </option>
          {% endfor %}
        </select>
      </div>
      <div class="row">
        <div class="content table-vuelos">
          <div class="graficas2">
            <div id="piechart_3d" class="graficabar"></div>
          </div>
          <div class="graficas3">
            <div id="calendar_basic" class="graficacalendar"></div>
          </div>
          <div class="panel-group " id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#divrealizados">Realizados</a>
                </h4>
              </div>
              <div id="divrealizados" class="panel-collapse collapse in">
                <div>
                  <table class="table table-hover">
                  <tr>
                    <th>Id Viaje</th>
                    <th>Ciudad Origen</th>
                    <th>Ciudad Destino</th>
                    <th>Fecha y Hora de Salida</th>
                    <th>Fecha y Hora de Llegada</th>
                    <th>Costo</th>
                    <th>Tipo</th>
                    <th>Id Avion</th>
                  </tr>
                  {% for realizado in realizados %}
                  <tr>
                    <td> {{ realizado.idviaje }} </td>
                    <td> {{ realizado.origen }} </td>
                    <td> {{ realizado.destino }} </td>
                    <td> {{ realizado.fechasalida +",  " }} {{ realizado.horasalida }} </td>
                    <td> {{ realizado.fechallegada +",  " }} {{ realizado.horallegada }} </td>
                    <td>$ {{ realizado.costoviaje }} USD</td>
                    <td> {{ realizado.realizado }} </td>
                    <td> {{ realizado.idavion }} </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                 <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#divproximos">Proximos</a>
                </h4>
              </div>
              <div id="divproximos" class="panel-collapse collapse">
                <table class="table table-hover">
                  <tr>
                    <th>Id Viaje</th>
                    <th>Ciudad Origen</th>
                    <th>Ciudad Destino</th>
                    <th>Fecha y Hora de Salida</th>
                    <th>Fecha y Hora de Llegada</th>
                    <th>Costo</th>
                    <th>Tipo</th>
                    <th>Id Avion</th>
                  </tr>
                  {% for proximo in proximos %}
                  <tr>
                    <td> {{ proximo.idviaje }} </td>
                    <td> {{ proximo.origen }} </td>
                    <td> {{ proximo.destino }} </td>
                    <td> {{ proximo.fechasalida +",  " }} {{ proximo.horasalida }} </td>
                    <td> {{ proximo.fechallegada +",  " }} {{ proximo.horallegada }} </td>
                    <td>$ {{ proximo.costoviaje }} USD </td>
                    <td> {{ proximo.realizado }} </td>
                    <td> {{ proximo.idavion }} </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#divcancelados">Cancelados</a>
                  </h4>
                </div>
                <div id="divcancelados" class="panel-collapse collapse">
                  <table class="table table-hover">
                  <tr>
                    <th>Id Viaje</th>
                    <th>Ciudad Origen</th>
                    <th>Ciudad Destino</th>
                    <th>Fecha y Hora de Salida</th>
                    <th>Fecha y Hora de Llegada</th>
                    <th>Costo</th>
                    <th>Tipo</th>
                    <th>Id Avion</th>
                  </tr>
                  {% for cancelado in cancelados %}
                  <tr>
                    <td> {{ cancelado.idviaje }} </td>
                    <td> {{ cancelado.origen }} </td>
                    <td> {{ cancelado.destino }} </td>
                    <td> {{ cancelado.fechasalida +",  " }} {{ cancelado.horasalida }} </td>
                    <td> {{ cancelado.fechallegada +",  " }} {{ cancelado.horallegada }} </td>
                    <td>$ {{ cancelado.costoviaje }} USD</td>
                    <td> {{ cancelado.realizado }} </td>
                    <td> {{ cancelado.idavion }} </td>
                  </tr>
                  {% endfor %}
                </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
