<%= form_for(@vuelo) do |f| %>
  <% if @vuelo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vuelo.errors.count, "error") %> prohibited this vuelo from being saved:</h2>

      <ul>
      <% @vuelo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
