<h1>Listing promociones</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promociones.each do |promocione| %>
      <tr>
        <td><%= link_to 'Show', promocione %></td>
        <td><%= link_to 'Edit', edit_promocione_path(promocione) %></td>
        <td><%= link_to 'Destroy', promocione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promocione', new_promocione_path %>
