<%= form_for(@tarjetum) do |f| %>
  <% if @tarjetum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tarjetum.errors.count, "error") %> prohibited this tarjetum from being saved:</h2>

      <ul>
      <% @tarjetum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
