

  <link rel="stylesheet" type="text/css" href="/assets/css/font.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/404.css">

<script type="text/javascript" src="/assets/js/jquery-2.1.1.min.js"></script>

<video autoplay loop poster="polina.jpg" id="bgvid">
<source src="/assets/images/ana.mp4" type="video/webm">
</video>

<div class="left_ sexy"></div>
  
  <div class="message">
  
  </div>
  <div class="rigth_ sexy"></div>
</body>
</html>
