
<head>
  <link rel="stylesheet" type="text/css" href="/assets/css/font.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/404.css">

<script type="text/javascript" src="/assets/js/jquery-2.1.1.min.js"></script>

  <!-- This file lives in public/404.html -->

<div class="left_ sexy"></div>
  
  <div class="message">
  
  <a href="#">Hola de nuevo</a>
  <%= image_tag @usuario.avatar.url(:small) %>
  </div>
  <div class="rigth_ sexy"></div>
</body>
</html>
