<!doctype html>
<html lang = "es">
  <head>
    <title>Historial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="historial.css" />
  </head>

  <body>
    <div id = "logom">
      <div id = "logo">
      </div>
      <p class = "nomlog">MameAirlines</p>
    </div>
    <div id = "enca">
      <div id = "logohis">
      </div>
      <p class = "tarj">Tus viajes</p>
    </div>   
    <div id  = "boleto">
      <p class= "tusviajes">Tus viajes</p>
      <div id = "primero">
	<label for ="origen">Origen</label>
	<input type="text1" class="origen">
	<label for ="destino">Destino</label>
	<input type="text2" class="destino">
      </div>
      <div id = "segundo" >
	<label for ="fecha">Fecha</label>
	<input type="text3" class="fecha">
	<label for="viaje">Viaje</label>
	<input type="text4" class="viaje">
      </div>
      <div>
	<div id = "regresar">
	</div>
	<p class="back">Regresar</p>
    </div>
  </body>
</html>    
