<!doctype html>
<html lang = "es">
  <head>
    <title>Tarjetas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/tarjeta.css" />
  </head>

  <body>
    <div id = "logom">
      <div id = "logo">
      </div>
      <p class = "nomlog">MameAirlines</p>
    </div>

    <div id = "enca">
      <div id = "logotarj">
      </div>
      <p class = "tarj">Registra tu tarjeta MameAirlines</p>
    </div>   
    <div>
      <input type="radio" name="tarjeta" id="tarj" value="Tarjeta MameAirlines">
      <label for="tarjeta">Tarjeta MameAirlines</label>
    </div>
    <div>
      <input type="text1" class="numeros" placeholder="Numeros aleatorios" >
      <input type="text2" class="nip" placeholder="Nip">
    </div>
    <div>
      <input type="text3" class="millas" placeholder="Ingresa tus millas">
    </div>
    <div>
      <button class="button" type="submit">Registra</button>
      <button class="button2" type="submit">Cancelar</button>
      
    </div>
  </body>

