<!doctype html>
<html lang = "es">
  <head>
    <title>Perfil</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/perfil.css" />
  </head>
  
  <body>
    <div id= "menu">
      <div id= "logo-principal">
      </div>
      <div id = "espacio"  class ="contenedor1">
	<div class = "comprav">
	</div>
	<p class = "compra">Comprar vuelo </p>
      </div>
      <div class ="contenedor1">
	<div class = "Lugares">
	</div>
	<p class = "frecuentes"> Lugares frecuentes </p>
      </div>
      <div class ="contenedor1">
	<div class = "Historial">
	</div>
	<p class = "historial">Historial </p>
      </div>
      <div class ="contenedor1">
	<div class = "configuraciones">
	</div>
	<p class = "config">Configuraciones</p>    
      </div>
      <div class ="contenedor1">
	<div class = "Salir">
	</div>
	<p class = "salir"><a href="/logins/logout">Salir </p>
      </div>
    </div>
  </body>
</html>


<%= link_to 'Logout', "/logins/logout" %> |
