<h1>Listing api_ciudads</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_ciudads.each do |api_ciudad| %>
      <tr>
        <td><%= link_to 'Show', api_ciudad %></td>
        <td><%= link_to 'Edit', edit_api_ciudad_path(api_ciudad) %></td>
        <td><%= link_to 'Destroy', api_ciudad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ciudad', new_api_ciudad_path %>
