<div class="full_contact">
<a href="https://github.com/deadRaccoons/MameAirlines"><h1>Equipo de desarrollo</h1></a>
	<div class="vatos-locos" id="vt">
		<div class="vato andrade">
			<div class="foto-del-vato"></div>
			<span> Andrade López Jonathan de Jesús</span>
		</div>
		<div class="vato yorch">
			<div class="foto-del-vato"></div>
						<span>       Ascencio Espindola Jorge Eduardo
</span>

		</div>
		<div class="vato dani">
			<div class="foto-del-vato"></div>
						<span>       Calderón Pérez Daniela
</span>

		</div>
		<div class="vato tabo">
			<div class="foto-del-vato"></div>
						<span>       Taboada Magallanes Ricardo
</span>

		</div>
		<div class="vato oscar">
			<div class="foto-del-vato"></div>
						<span>       Villa Chio Oscar Eduardo
</span>

		</div>
	</div>

	<h1>Personas importantes para el proyecto </h1>
<div class="vatos-locos">
	<div class="vato magdiux">
			<span class="motivo">Mucho apoyo moral</span>

		<div class="foto-del-vato">
		<span>Magdiux Montelongo</span>
		</div>
	</div>
	<div class="vato colega">
					<span class="motivo">Soportar desvelos</span>

		<div class="foto-del-vato"><span>Fernando Mtz</span>
</div>
	</div>
	<div class="vato nancy">
					<span class="motivo">Contestarle a Amazon <br/>por la madrugada</span>

		<div class="foto-del-vato"><span>

		Nancy Bautista</span></div>
	</div>
</div>
</div>	


